@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

@font-face {
    font-family: 'Futura2';
    src: url('d/Users/Bianca/Documents/GitHub/Portfolio-2700/docs/css/futura medium bt.ttf') format('truetype'),
        /* Safari, Android, iOS */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: white background-size: cover;
    background-repeat: no-repeat, repeat;
    display: table;
    top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    margin: 0 auto;
    text-align: center;
    height: 150px;
    width: 7-0px;
}

.content h1,
h2 {
    vertical-align: middle
}

.content h1 {
    font-family: 'bodoni', serif;
    color: #000;
    font-size: 40px;
    font-weight: normal;
    padding-top: 0px;
    margin: 0px;
    letter-spacing: 10px;
}

.content h2 {
    font-family: 'Cormorant Infant', serif;
    color: #000;
    font-size: 17px;
    font-weight: 300;
    margin-top: 14px;
    letter-spacing: 1px;
}

.button {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    max-height: 50px;
    margin-top: 100px;
}

.btn {
    text-align: center;
    background-color: transparent;
    color: #000;
    font-size: 11px;
    font-family: Cormorant Infant;
    border: 1px solid BLACK;
    border-radius: 0px;
    padding: 18px 25px;
    letter-spacing: 2px;
}

.button a {
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid white;
}

@media screen and (max-width:800px) {
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        font-size: 49px;
        font-weight: 500;
        padding-top: 0px;
        margin: 0px;
        letter-spacing: 8px;
    }
}
