@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 20;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-left: 130px;
    padding-top: 60px;
    line-height: 20px
}

h2 {
    font-family: 'Lato', sans-serif;
    line-height: 1px;
    font-weight: lighter;
    padding-left: 130px;
    font-size: 20px;
    margin-right: 100px
}

h3 {
    font-family: 'Lato', sans-serif;
    line-height: 10px;
    font-weight: bold;
    font-size: 25px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}


.container {
    height: 100%;
    margin: 20px;
}

.name {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #fff;

}

.sidebar {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #fff;
    padding-left: 100px;
    padding-top: 30px;

}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding-right: 60px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.content {
    padding: px 100px;
    display: grid
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 2;
}

.h-2 {
    grid-row: span 3;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

/*
=====================
	Sidebar
=====================
*/
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    border-bottom: 1px solid white;
    padding-left: 30px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px
}

ul li:first-child {
    border-top: 1px solid white;
}

ul li:hover {
    text-decoration-line: none
}

ul li a {
    text-decoration-line: none;
    color: black;
    display: block;
    line-height: 30px;
}

/*
=====================
	about
=====================
*/

.about-column {
    float: right;
    max-width: 80%;
    padding-left: 10px;
}

/*
